body {
    text-align: center;
    background-color: gray;
    button {
        font-size: 35px;
        background-color: dodgerblue;
        padding: 15px;
        border-radius: 20px;
        border: 2px solid black;
        position: relative;
        top: 46vh;
    }
}